html, body {
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

footer {
    flex-shrink: 0;
}